<form nz-form [formGroup]="form" (ngSubmit)="submit()" role="form">
  <nz-tabset [nzAnimated]="false" class="tabs" >
    <nz-tab nzTitle="账户密码登录">
      <nz-alert *ngIf="error" [nzType]="'error'" [nzMessage]="error" [nzShowIcon]="true" class="mb-lg"></nz-alert>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
            <input nz-input formControlName="userName" placeholder="{{l('UserNameOrEmail')}}"
            [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
            >
          </nz-input-group>
          <nz-form-explain *ngIf="userName.dirty && userName.errors">请输入账户名且至少五个字符！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
            <input nz-input type="password" formControlName="password" placeholder="{{l('Password')}}" 
            [(ngModel)]="loginService.authenticateModel.password"
            >
          </nz-input-group>
          <nz-form-explain *ngIf="password.dirty && password.errors">
            请输入密码！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
    
  </nz-tabset>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox formControlName="remember" [(ngModel)]="loginService.rememberMe" >{{l("RememberMe")}}</label>
    </nz-col>
    
  </nz-form-item>
  <nz-form-item>
    <button nz-button type="submit" nzType="primary" nzSize="large" [nzLoading]="submitting" class="ant-btn__block">{{l("LogIn")}}</button>
  </nz-form-item>
</form>
<!--
<div class="other">
  其他登录方式
  <i title="in fact Auth0 via window" (click)="open('auth0', 'window')" class="anticon anticon-alipay-circle icon"></i>
  <i title="in fact Github via redirect" (click)="open('taobao')" class="anticon anticon-taobao-circle icon"></i>
  <i title="真的是微博" (click)="open('weibo', 'window')" class="anticon anticon-weibo-circle icon"></i>
  <a class="register" routerLink="/passport/register">注册账户</a>
</div>
-->
