<div class="modal-header">
    <div class="modal-title">{{l("EditUser")}}</div>
  </div>
  
  
  <nz-tabset>
    <nz-tab nzTitle="基本信息">
  
      <div nz-row>
        <div nz-col class="mt-sm">
          {{l("UserName")}}
        </div>
        <div ng-col class="mt-sm">
          <input nz-input [(ngModel)]="user.userName" />
        </div>
      </div>
  
      <div nz-row>
        <div nz-col class="mt-sm">
          {{l("Name")}}
        </div>
        <div ng-col class="mt-sm">
          <input nz-input [(ngModel)]="user.name" />
        </div>
      </div>
  
      <div nz-row>
        <div nz-col class="mt-sm">
          {{l("Surname")}}
        </div>
        <div ng-col class="mt-sm">
          <input nz-input [(ngModel)]="user.surname" />
        </div>
      </div>
  
      <div nz-row>
        <div nz-col class="mt-sm">
          {{l("EmailAddress")}}
        </div>
        <div ng-col class="mt-sm">
          <input nz-input [(ngModel)]="user.emailAddress" />
        </div>
      </div>
  
  
      <div nz-row>
        <div nz-col class="mt-sm">
          {{l("IsActive")}}
        </div>
        <div ng-col class="mt-sm">
          <nz-switch [(ngModel)]="user.isActive"></nz-switch>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="角色">
  
  <nz-checkbox-group [(ngModel)]="checkOptionsOne"></nz-checkbox-group>
    </nz-tab>
  </nz-tabset>
  
  
  <div class="modal-footer">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="close()">
      {{l("Cancel")}}
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="save()">
      {{l("Save")}}
    </button>
  </div>