<div class="modal-header">
    <div class="modal-title">{{l("CreateNewTenant")}}</div>
</div>


<div nz-row>
    <div nz-col class="mt-sm">
            {{l("TenancyName")}}
    </div>
    <div ng-col class="mt-sm">
        <input nz-input  [(ngModel)]="tenant.tenancyName" />
    </div>
</div>

<div nz-row>
        <div nz-col class="mt-sm">
                {{l("Name")}}
        </div>
        <div ng-col class="mt-sm">
            <input nz-input  [(ngModel)]="tenant.name" />
        </div>
    </div>

    <div nz-row>
            <div nz-col class="mt-sm">
                    {{l("DatabaseConnectionString")}}
            </div>
            <div ng-col class="mt-sm">
                <input nz-input  [(ngModel)]="tenant.connectionString" />
            </div>
        </div>

        <div nz-row>
                <div nz-col class="mt-sm">
                        {{l("AdminEmailAddress")}}
                </div>
                <div ng-col class="mt-sm">
                    <input nz-input  [(ngModel)]="tenant.adminEmailAddress" />
                </div>
            </div>

            <div nz-row>
                    <div nz-col class="mt-sm">
                            {{l("IsActive")}}
                    </div>
                    <div ng-col class="mt-sm">
                            <nz-switch [(ngModel)]="tenant.isActive"></nz-switch>
                            <!--
                        <input nz-input  [(ngModel)]="tenant.isActive" />、
                        -->
                    </div>
                </div>

                <div nz-row>
                        <div ng-col class="mt-sm">
                                {{l("DefaultPasswordIs","123qwe")}}
                              </div>
                    </div>

             

<div class="modal-footer">
    <button nz-button [nzType]="'default'" [nzSize]="'large'" (click)="close()">
        {{l("Cancel")}}
    </button>
    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="save()">
        {{l("Save")}}
    </button>
</div>